/* ===================================================================== ESTILOS GENERALES */
body {
  background-color: #181c1f !important;
  background-image: url("../img/main-bg.jpg");
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
}
body * {
  box-sizing: border-box;
}
body a {
  text-decoration: none !important;
}
body img {
  border-radius: 10px;
  max-height: 350px;
}
body p,
body ul,
body dl,
body ol,
body figcaption {
  color: #f2f2f2;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: lightgray !important;
}
body hr {
  width: 30%;
  color: #ff00ff !important;
}

/* ===================================================================== TEXTOS */
.spacer {
  letter-spacing: 2em;
}

/* ===================================================================== ENLACES */
#navbarSupportedContent .nav-link {
  cursor: pointer;
}
#navbarSupportedContent .nav-link:hover {
  color: #ff00ff;
}

.resaltar {
  color: #ff00ff;
}

.enlaces {
  color: #00b3ff;
  text-decoration: none;
  cursor: pointer;
}

/* ===================================================================== BOTONES */
.botones-app {
  padding: 5px 10px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #00b3ff;
  color: #f2f2f2;
}
.botones-app:hover {
  background-color: #ff00ff;
  color: #ffffff;
  box-shadow: 0 0 6px #ff00ff;
}

.btn-close {
  color: #00b3ff !important;
}

@keyframes arrowpulse {
  0% {
    position: relative;
    top: 0px;
    color: #00b3ff;
  }
  25% {
    top: -10px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0px;
    color: #ff00ff;
  }
}
.arrow-down {
  font-size: 2.5em;
  animation: arrowpulse 1s linear infinite;
}

#go-top {
  position: absolute;
  top: 90vh;
  left: 95vw;
  padding: 0.5em 0.8em;
  border: 1px solid #00b3ff;
  border-radius: 10px;
  color: #00b3ff;
  cursor: pointer;
}
#go-top:hover {
  background-color: #ff00ff;
  border-color: #fff;
  color: #fff;
}

/* ===================================================================== IMAGENES */
#foto-perfil {
  max-width: 30%;
  float: left;
  margin: 0 15px 15px 0;
}

#nav-bar-logo {
  height: 50px;
}

#portafolio-sec-img img {
  max-height: 150px;
  cursor: pointer;
}

@keyframes animacion-bg {
  0% {
    background-image: url("../img/main-banner1.jpg");
  }
  30% {
    background-image: url("../img/main-banner1.jpg");
  }
  35% {
    background-image: url("../img/main-banner2.jpg");
  }
  60% {
    background-image: url("../img/main-banner2.jpg");
  }
  65% {
    background-image: url("../img/main-banner3.jpg");
  }
  95% {
    background-image: url("../img/main-banner3.jpg");
  }
  100% {
    background-image: url("../img/main-banner1.jpg");
  }
}
#main-banner {
  height: 100vh;
  animation: animacion-bg 20s linear infinite;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#parallax-banner {
  min-height: 30vh;
  padding: 1em;
  background-image: url("../img/parallax-banner.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* ===================================================================== SECCIONES */
header {
  height: 10vh;
  box-shadow: 0 0 5px #000;
}

section {
  display: flex;
  align-items: center;
  padding: 1em;
}

article {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

/* ===================================================================== CAPTURAS INDEX */
#capturas-index {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
#capturas-index header,
#capturas-index footer {
  background-color: hsl(230, 14%, 9%);
}
#capturas-index main {
  overflow-y: auto;
}
#capturas-index main img {
  max-width: 100%;
  max-height: 10000px;
}

/* ===================================================================== SLIDER LOGOS */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2500px);
  }
}
.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
  background-color: hsl(230, 14%, 9%);
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 5000px;
}
.slider .slide-track .slide {
  height: 100px;
  width: 250px;
}

/* ===================================================================== VENTANAS MODAL*/
.modal-body {
  background-color: #181c1f !important;
}

#modal-portafolio .modal-body {
  min-height: 350px;
  max-height: 75vh;
  overflow-y: auto;
}
#modal-portafolio .modal-body #proyectos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portafolio-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  color: #f2f2f2;
  text-align: center;
  background-color: rgba(42, 50, 57, 0.3137254902);
}
.portafolio-card * {
  margin-top: 5px;
}

.servicios-card {
  background-color: rgba(42, 50, 57, 0.3137254902);
}

.modal:not(#modal-portafolio) .modal-dialog {
  max-width: 50%;
}

#modal-portafolio .modal-dialog {
  max-width: 90% !important;
  margin: 0 auto !important;
}

/* ===================================================================== FOOTER */
footer {
  color: #f2f2f2 !important;
}

/* Redes sociales */
#redes-sociales-div a {
  color: #f2f2f2 !important;
}
#redes-sociales-div i {
  font-size: 2em;
  margin: 0 5px;
  cursor: pointer;
}
#redes-sociales-div i:hover {
  text-shadow: 0 0 5px #fff;
}

/* ===================================================================== SECCIONES ANIMADAS */
.txt-animated,
.card-animated {
  opacity: 0;
}

/* ===================================================================== MEDIA QUERIES */
@media (max-width: 480px) {
  /* =================== VENTANAS MODAL */
  .modal-body {
    min-height: auto !important;
  }
  .modal .modal-dialog {
    max-width: 100% !important;
  }
  #modal-portafolio .modal-dialog {
    max-width: 95% !important;
  }
  #modal-capturas-ui .modal-dialog {
    min-height: auto !important;
    max-width: 100% !important;
  }
  #modal-por-que-codigo-plano .modal-dialog {
    max-width: 100% !important;
  }
  /* =================== IMAGENES */
  #front-end-logos {
    text-align: center;
  }
  #front-end-logos img {
    height: 30px;
  }
  #back-end-logos {
    text-align: center;
  }
  #back-end-logos img {
    height: 30px;
  }
  #front-end-logos a:nth-child(1n+2) {
    margin-left: 0.5em;
  }
  #back-end-logos a:nth-child(1n+2) {
    margin-left: 0.5em;
  }
  /* =================== BOTONES */
  .arrow-down {
    display: none;
  }
  #go-top {
    top: 90vh;
    left: 85vw;
  }
  /* =================== TEXTOS */
  .spacer {
    letter-spacing: 1em;
  }
}/*# sourceMappingURL=main.css.map */