/* PALETA DE COLORES */
:root {
    --parrafos-color: #f2f2f2;
    --encabezados: lightgray;
    --enlaces: #00b3ff;
    --resaltador: #ff00ff;
    --color-fondo-1: #131419;
    --color-fondo-2: #181c1f;
}

/* ESTILOS GENERALES */
body {
    background-color: var(--color-fondo-2) !important;
    background-image: url("../img/main-bg.jpg");
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-decoration: none !important;
}

img {
    border-radius: 10px;
    max-height: 350px;
}

p,
ul,
ol,
figcaption {
    color: var(--parrafos-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--encabezados) !important;
}

hr {
    width: 30%;
    color: var(--resaltador) !important;
}

/* ENLACES */
#navbarSupportedContent .nav-link {
    cursor: pointer;
}

#navbarSupportedContent .nav-link:hover {
    color: var(--resaltador);
}

.resaltar {
    color: var(--resaltador);
}

.enlaces {
    color: var(--enlaces);
    text-decoration: none;
    cursor: pointer;
}

/* BOTONES */
.botones-app {
    padding: 5px 10px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid var(--enlaces);
    color: var(--parrafos-color);
}

.botones-app:hover {
    background-color: var(--decoradores2);
    color: #ffffff;
    box-shadow: 0 0 6px var(--resaltador);
}

.btn-close {
    color: var(--enlaces) !important;
}

/* IMAGENES */
#foto-perfil {
    max-width: 30%;
    float: left;
    margin: 0 15px 15px 0;
}

#logos-tech {
    width: 100%;
    padding: 1em 0;
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
}

#front-end-logos img,
#back-end-logos img {
    height: 50px;
}

#front-end-logos a:nth-child(1n+2),
#back-end-logos a:nth-child(1n+2) {
    margin-left: 1em;
}

#nav-bar-logo {
    height: 75px;
}

#carouselLogos img {
    height: 100px;
    width: auto;
}

#portafolio-sec-img img {
    max-height: 150px;
    cursor: pointer;
}

/* SECCIONES */
header {
    box-shadow: 0 3px 5px #000;
}

section {
    display: flex;
    align-items: center;
    padding: 1em;
}

article {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#sobre-mi,
#back-end,
#contacto {
    background-color: var(--color-fondo-1);
}

/* VENTANAS MODAL*/
.modal-body {
    min-height: 350px;
    max-height: 75vh;
    overflow-y: auto;
    background-color: var(--color-fondo-2) !important;
}

#modal-ui-carousel .modal-dialog {
    max-width: 40% !important;
}

#modal-resumen-profesional .modal-dialog {
    max-width: 50%;
}

#modal-portafolio .modal-dialog {
    max-width: 90% !important;
}

#modal-por-que-codigo-plano .modal-dialog {
    max-width: 60% !important;
}

#modal-por-que-codigo-plano li b {
    color: var(--resaltador);
}

.modal-body #proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portafolio-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: var(--color-fondo-1);
    color: var(--parrafos-color);
    text-align: center;
}

.portafolio-card * {
    margin-top: 5px;
}

/* FOOTER */
footer {
    color: var(--parrafos-color) !important;
}

/* Redes sociales */
#social-icons a {
    color: var(--parrafos-color) !important;
}

#social-icons i {
    font-size: 2em;
    margin: 0 5px;
    cursor: pointer;
    transition: font-size 0.5s;
}

#social-icons i:hover {
    font-size: 1.7em;
    text-shadow: 0 0 5px #fff;
}

/* MEDIA QUERIES */
@media (max-width: 480px) {

    /* VENTANAS MODAL */
    .modal-body {
        min-height: auto !important;
    }

    #modal-ui-carousel .modal-dialog {
        min-height: auto !important;
        max-width: 100% !important;
    }

    #modal-resumen-profesional .modal-dialog {
        max-width: 100%;
    }

    #modal-portafolio .modal-dialog {
        max-width: 100% !important;
    }

    #modal-por-que-codigo-plano .modal-dialog {
        max-width: 100% !important;
    }

    /* IMAGENES */
    #front-end-logos,
    #back-end-logos {
        text-align: center;
    }

    #front-end-logos img,
    #back-end-logos img {
        height: 30px;

    }

    #front-end-logos a:nth-child(1n+2),
    #back-end-logos a:nth-child(1n+2) {
        margin-left: 0.5em;
    }
}