@import "mediaqueries.css";

html {
    font-family: sans-serif;
    * {
        border-radius: 15px;
        box-sizing: border-box;
    }

    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(-45deg, cyan, purple);

        #my-container {
            width: 90%;
            height: 95vh;
            overflow: auto;
            margin: 0 auto;
            padding: 1em;
            background-color: #fff;
            border-radius: 15px;
            main {
                display: flex;
                flex-flow: row wrap-reverse;
                justify-content: space-around;
                align-items: center;

                form {
                    max-height: 75vh;
                    overflow-y: auto;
                }

                #canvas-div {
                    max-height: 75vh;
                    text-align: center;
                    overflow: auto;
                    padding: 1em;
                    background-color: #f3f3f3;

                    #qrcode-svg {
                        width: 30em;
                        height: 30em;
                        padding: 1em;
                        background-color: #e8e8e8;
                    }
                }
            }

            h1 {
                text-align: center;
                color: darkcyan;
            }

            p {
                margin-bottom: 5px !important;
            }

            table {
                border-collapse: collapse;
            }

            td {
                vertical-align: top;
                padding-top: 0.2em;
                padding-bottom: 0.2em;
            }

            td:first-child {
                white-space: pre;
                padding-right: 0.5em;
            }

            input[type="number"],
            input[type="text"],
            textarea {
                font-size: inherit;
                font-family: inherit;
                resize: none !important;
            }

            input[type="radio"],
            input[type="checkbox"] {
                margin: 0em;
                padding: 0em;
            }

            input[type="radio"] + label,
            input[type="checkbox"] + label {
                margin-right: 0.8em;
                padding-left: 0.2em;
            }

            hr {
                width: 50%;
                margin: 1em auto;
                border: none;
                border-top: 0.1em solid darkcyan;
            }
        }
    }
}
